
<!-- country-list.component.html -->

<input type="text" class="form-control" placeholder="Filter by country name" 
    [(ngModel)]="searchTerm"
    (keyup)="filterByName(searchTerm)"
    [value]="searchTerm">


<div *ngFor="let country of countries$ | async">

    <!-- <span>{{country.currencies}}</span> -->
    <p>
        <a 
            [title]="country.name.common + 'details'"
            [routerLink]="['/countries', country.cca2]">
            {{country.name.common}}
        </a>
    </p>
    <!-- <ul>
        <li *ngFor="let currency of country.currencies | keyvalue">
          {{ currency.key }} - {{ currency.value.name }} ({{ currency.value.symbol }})
        </li>
      </ul>
      <p>{{country.flags.png}}</p>
      <p>{{country.maps.googleMaps}}</p> -->
</div>

<!-- <button type="button" (click)="onClick()">
    <span>Click</span>
</button> -->
