/* Global Styles */

* {
    font-family: 'Roboto', Arial, sans-serif;
    color: #616161;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  app-top-bar h1 {
    color: white;
    margin: 0;
  }
  
  a.front-page {
    text-decoration: dotted;
    border-bottom: 1.5px dotted #707070;
    color: #707070;
  }

  a.front-page:hover {
    color:black !important;
  }